html{background-color: blueviolet;}

h1,h3{text-align: center;
color:white}

.container{padding:5px;}
.color-epic{color:#A9409F}

#calendar,.day{
    
    
    border:1px solid #A9409F }


    .day{display:inline-block;
    padding:0.5em;

width: 2.85em;}